{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg p-5" style="width: 100%; max-width: 400px; border-radius: 20px;">
        <div class="text-center mb-4">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="width: 60px;">
        </div>
        <h2 class="text-center mt-5">Inicio de Sesión</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Usuario") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                <div class="input-group">
                    {{ form.password(class="form-control", placeholder="Contraseña") }}
                    <div class="input-group-append">
                        <span class="input-group-text" id="toggle-password" onclick="togglePasswordVisibility()">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
        </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>
    function togglePasswordVisibility() {
        const passwordField = document.querySelector('input[name="password"]');
        const toggleIcon = document.getElementById('toggle-password').querySelector('i');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.classList.replace('fa-eye', 'fa-eye-slash');
        } else {
            passwordField.type = 'password';
            toggleIcon.classList.replace('fa-eye-slash', 'fa-eye');
        }
    }
</script>
{% endblock %}
